<template shadowrootmode="open">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

  <div class="dropdown">
    <div class="dropdown-trigger">
      <slot name="trigger">This is the trigger</slot>
    </div>
    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
      <div class="dropdown-content">
        <slot name="content">This is the content</slot>
      </div>
    </div>
  </div>
</template>

<script>
  class Dropdown extends HTMLElement {
    constructor() {
      super();

      // this.attachShadow({ mode: 'open' });
      // const template = document.getElementById('dropdown-template');
      // const html = template.content.cloneNode(true);
      // this.shadowRoot.append(html);
    }

    connectedCallback() {
      console.log('connected');
    }
  }

  customElements.define('dropdown-element', Dropdown);
</script>