<script>
    class Heart extends HTMLElement {
        #button;
        #count;
        #initialValue = 0;
        #span;

        constructor() {
            super();
        }

        static get observedAttributes() {
            return ["data-start"];
        }

        connectedCallback() {
            this.count = 0;
            this.button = this.querySelector('button');
            this.span = this.querySelector('span');

            this.span.textContent = this.initialValue.toString();
            this.count = this.initialValue;

            this.button.addEventListener("click", this);
        }

        disconnectedCallback() {
            this.button.removeEventListener("click", this);
        }

        attributeChangedCallback(name, oldValue, newValue) {
            if (name === "data-start") {
                this.initialValue = parseInt(newValue) || 0;
            }
        }

        handleEvent(event) {
            if (event.type === "click") this.#handleClick();
        }

        #handleClick() {
            this.count++;
            this.span.textContent = this.count.toString();
        }
    }

    customElements.define('heart-element', Heart);
</script>